/* environment */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    cursor: none;
}

#spawn {
    position: absolute;
    bottom: 0;
    width: 90vw;
    height: 80vh;

    top: 12vh;
    left: 5vw;
}

/* figures */
#scoreBoard {
    height: 4vh;
    width: 100vw;
    border: style 1px black;
    background-color: gray;
    z-index: 1;
}

#loser {
    position: absolute;
    top: 15vh;
    left: 25vw;

    width: 50vw;
    height: 50vh;

    border-radius: 5%;
    border: black 8px solid;
    background-color: gray;
    z-index: 1;

    display: none;
    justify-content: space-between;
    align-items: center;
    flex-flow: column wrap;
}

#loser h1 {
    margin-top: 1rem;
}

#finalScore {
    width: 25vw;
    height: 10vw;
    border: black 2px solid;
    text-align: center;
}

#finalScore p {
    font-size: 10rem;
}

#againButton {
    width: 12.5vw;
    height: 3vw;
    border: black 4px solid;
    margin-bottom: 1rem;

    line-height: 1.5rem;
    text-align: center;
}

@keyframes fadeIn {
    100% {
        filter: opacity(1);
    }
}

/* cursor */
#reticle {
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    pointer-events: none;
}

#outer-circle, #inner-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px red solid;
}

#outer-circle {
    width: 50px;
    height: 50px;
    position: absolute;
    transform: translateX(-22.5px);
}

#inner-circle {
    width: 25px;
    height: 25px;
}

#point {
    width: 5px;
    height: 5px;
    background-color: red;
    border-radius: 50%;
}

#crosshairs {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

#x-hair, #y-hair {
    width: 2px;
    height: 50px;
    background-color: red;
}

#x-hair {
    transform: rotate(90deg);
}

/* targets */

.target {
    background-color: blue;
    position: absolute;
}

/* movements */

.upDown {
    animation: infinite ease-in-out alternate 2s upDown;
}

@keyframes upDown {
    100% {
        transform: translateY(100px);
    }
}

.leftRight {
    animation: infinite ease-in-out alternate 2s leftRight;
}

@keyframes leftRight {
    100% {
        transform: translateX(100px);
    }
}

.diagRight {
    animation: infinite ease-in-out alternate 2s diagRight;
}

@keyframes diagRight {
    100% {
        transform: translateX(100px) translateY(100px);
    }
}

.diagLeft {
    animation: infinite ease-in-out alternate 2s diagLeft;
}

@keyframes diagLeft {
    100% {
        transform: translateX(100px) translateY(-100px);
    }
}